:root {
    --primary-color: #212121;
    --bg-color: #2F303A;
    --text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color: #E5E5E5;
    --text-white-color: #FFFFFF;
    --text-white-color-footer:rgba(255, 255, 255, 0.6);
    --btn-bg-color:#F5F4FA;
    --card-set-gap:30px;
    --social-bck: #afb1b8;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста  #757575; */
/* белый #FFFFFF  */
/* акцент  #2196F3 */
/* вторичный цвет белого rgba(255, 255, 255, 0.6);; */
/* цвет фона осн #E5E5E5 */
/* вторичный цвет фона #F5F4FA; #2F303A */
body {
    background-color:var(--text-white-color);
    color: var(--primary-color);
    font-family: Roboto,sans-serif;
    font-size: 14px;   
    letter-spacing: 0.03em;
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    
    /* outline: 2px solid tomato; */
}
header, main, footer {
    min-width: 1170px;
}

header {
    padding: 25px 0;
    border: 1px solid #ECECEC;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-nav {
    display: flex;
    align-items: center;
    gap: 93px;
}
.logo{
    color: var(--primary-color);  
    }
.logo-accent {
    color: var(--accent-color);    
}
.logo,
.logo-accent {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;        
}
.logo:hover {
    color: var(--accent-color);
}
.site-nav .link {
    color: var(--primary-color);
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current,
.auth-nav .link.current{
    color: var(--accent-color); 
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link {
    color: var(--text-color);
    display: flex;
    align-items:center;
    gap: 10px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}
.site-nav,
.auth-nav {
    display: flex;
    gap: 50px;
    align-items: center;

    font-weight: 500;        
    line-height: 1.14;
    letter-spacing: 0.02em;   
}
.current {   
    position: relative;
}
.current::after {  
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -33px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.icon-mail,
.icon-phone {    
    fill: currentColor;
}
.container.nav {   
    display: flex;   
    justify-content: space-between;
}
.hero-title {  
    color: var(--text-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;   
 
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero {
    padding: 200px 0;
    margin: auto;  
    background-color:var(--bg-color);
    text-align: center;    
    max-width: 1600px;       
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
  
    background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img_bg.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        
}

.hero .button.secondary {
    padding: 10px 32px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
   
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    
   
    min-height: 581px;
    min-width: 528px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1);

    background-color: var(--text-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.btn-close {
    position: absolute;    
    box-sizing: border-box;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--text-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close:hover {
    background-color: var(--text-white-color);
    box-shadow: none;
}

.icon-close {
    position: absolute;
    top: 1px;
    right: -1px;
    width: 30px;
    height: 30px;
    padding: 4px;
    fill: #000000;
}

.icon-close:hover {
    fill: var(--accent-color);
    cursor: pointer;
}


.form {
    padding: 40px;
}

.form h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}
.form p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
}

.form a {
    color: var(--accent-color);
    text-decoration: underline;
}

.form span {
    font-size: 12px;
    line-height: 1.16;
    color: var(--text-color);
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    width: 100%;
    height: 40px;   
}

.form-label {
    position: absolute;
    top: -50%;
}
.form-input {
    display: block;   
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 15px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
    position: absolute;
    width: 18px;
    height: 18px;
    fill: var(--primary-text-color);
    color: var(--primary-text-color);
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: var(--accent-color);
    cursor: pointer;
}
.comment-area {
    display: flex;
    box-sizing: border-box;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    padding: 12px 16px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-area::placeholder {
    font-size: 12px;
    line-height: 1.17;
    color: rgba(117, 117, 117, 0.5);
}
.comment-area:focus {
    border-color: var(--accent-color);
    cursor: pointer;
}
.comment-field {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    color:var(--primary-color)
    margin-top: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.comment-field:focus {
    border-color: var(--accent-color);
}

.form-field:focus-within .icon {
    fill: var(--accent-color);
}
.checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.icon-check {
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--white-color);
    margin-left: 12px;
    margin-right: 9px;
    fill: var(--primary-text-color);
    color: var(--primary-text-color);  
}

.icon-check:focus {
    fill: var(--accent-color);
    border-color:transparent;
}

.icon-check-active {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 52px;
    fill:var(--text-white-color);
    background-color:var(--accent-color);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-check-active {
    opacity: 1;    
}

 .checkbox:focus-visible~.icon-check-active {
    outline-offset: 2px;
    outline: 2px solid var(--primary-color);
    border-radius: 1px;
}

.send-btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 50px;
    padding: 10px 55px;
    color: var(--text-white-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:focus,
.send-btn:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hero .button.secondary:hover {
    cursor: pointer;
    background-color: #188ce8;
}
.features {
    padding-top: 94px;
}
.features-icon {
    width: 70px;
    height: 70px;
    fill: currentColor;
   
}
.features-icons {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--btn-bg-color);
}
.peculiarities {
    display: flex;  
    gap: 30px;

}
.peculiarities-text {
    margin-top: 8px;
    color: var(--text-color); 
    line-height: 1.71;  
}
.employment {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    justify-self: center;
}
.employment-card {
    position: relative;
}
.employment .item-text {
    position: absolute;
    bottom: 0;
    left: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-white-color);

    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);   
}
.section-text {
    color: var(--text-color);
}
.section-title {   
    font-size: 14px;
    font-weight: 700;       
    line-height: 1.14;  
    text-transform: uppercase;
}
.section.team {
    background-color: var(--btn-bg-color);    
    margin: auto;
}
.social {
    display: flex;
    width: 206px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    gap: 10px;    
}
.social-link {   
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--social-bck);
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
    width: 20px;
    height: 20px;
    fill:currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus  {   
      background-color:var(--accent-color);  
}
.social-link:focus .social-icon,
.social-link:hover .social-icon {   
    fill: var(--text-white-color);  
}
.section .title  {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.section-team.list {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.section-team .name {  
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.section-team .text {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;      
}
.team .item {
    background-color: var(--text-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card-text {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.client-icon {   
    fill: currentColor; 
}
.company {
    display: flex;
    justify-content: stretch;
    gap: 30px;
    margin-top: 50px;
}
.card {
    display: flex;
    width: 100%;
}

.company a {
    display: flex;
    width: 100%;
    height: 92px;
    align-items: center;
    justify-content: center;
    fill: var(--social-bck);
    border: 1px solid var(--social-bck);
    border-radius: 4px; 

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company a:hover,
.company a:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.footer {  
    margin: auto;
    padding: 60px 0;
    background-color:var(--bg-color);
}
.footer .link {
    color:var(--text-white-color-footer);    
    font-size: 14px;
    line-height: 1.71;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .logo {
    margin-top: 60px;
    color:var(--text-white-color);
}
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}
.filter .button.primary:hover,
.filter .button.primary:focus {
    color: var(--text-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.adds {
    margin-top: 20px;
    color: var(--text-white-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal
}
.footer .info {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    gap: 9px;
}
.footer .link {
     font-style: normal
}
.action-title {
    display: inline-flex;   
}
.footer h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-white-color);
}
.footer .social.list {
    display: flex;
    width: 206px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.footer-flex {
    display: flex;   
    gap: 70px;
}
.actions .social-link {    
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;    
    background-color: rgba(255, 255, 255, 0.1);

    transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.actions .social-icon {
    fill: var(--text-white-color);
}
.actions .social-link:hover,
.actions .social-link:focus  {   
      background-color:var(--accent-color);  
}
.actions,
.follow {   
    padding-top: 12px;
}
.follow {
    padding-left: 23px;
  
}

.footer-input {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
 
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--text-white-color);
    margin-top: 20px;

    transition-property: border;
    transition-duration: 2250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  
    outline: none;
}

.follow-btn {
    display: inline-flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    max-width: 200px;
    max-height: 50px;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--text-white-color);
    padding: 10px 28px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: transparent;
}

.follow-btn:hover,
.follow-btn:focus {
    background: #188ce8;
}

.follow-btn::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/icon\ send\ \(1\).svg);
    fill: var(--text-white-color);
}

/* Портфолио */ 

.button.secondary {
    padding: 6px 22px;
    color:var(--text-white-color);
    background-color: var(--accent-color);
    font-family: inherit;    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    letter-spacing: 0.06em;
    border-radius: 4px;
    border-color: transparent;
}
.button.primary {
    padding: 6px 22px;
    color:var(--primary-color);
    background-color:var(--btn-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    border-color: transparent;
}
.pic .title {
   
    text-align: left;
    color:var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.pic .text {
    margin-top: 4px;
   
    color:var(--text-color);   
    font-size: 16px;
    line-height: 1.88;  
}


.filter .button.primary {
    font-family:inherit;  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    
    transition-property: color background-color box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter.list { 
    margin-bottom: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
}
.pic.list {  

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
    
    
}
.pic.list >.item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    background: var(--text-white-color);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.pic.list .card-text {
    padding: 20px 20px;
    text-align:left;

    border: 1px solid #eeeeee;
}
.pic.list .item:focus,
.pic.list .item:hover {
    background: var(--text-white-color);       
    box-shadow: 0px 1px 1px 
        rgba(0, 0, 0, 0.12), 0px 4px 4px 
        rgba(0, 0, 0, 0.06), 1px 4px 6px 
        rgba(0, 0, 0, 0.16);
}
.thumb {
    position: relative;
    overflow: hidden;
}

.card-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pic .item:hover .card-hover,
.pic a:focus .card-hover {
    transform: translateY(-100%);
   
    opacity: 1;
}

.card-hover-text {
    position: absolute;
    display: flex;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--text-white-color);
    padding: 63px 24px;
}




