.clients-list {
    @extend %list;
    display: inline-flex;
    gap: 30px;
}

.clients-list__item {
    width: 170px;
    height: 92px;
 
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--social-net-color);
    border-radius: 4px;

    &:hover,
    &:active {
        border-color: var(--accent-color);
        transition: border-color 250ms var(--cubic-bezier);
    }

    &:hover .clients-list__icon,
    &:active .clients-list__icon {
        fill: var(--accent-color);
        transition: fill 250ms var(--cubic-bezier);
    }
}

.clients-list__icon {
    fill: var(--social-net-color);
}