.contacts {
    @extend %list;

    display: flex;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    @extend %vertical-centered;
    @extend %link;

    color: var(--secondary-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: color 250ms var(--cubic-bezier);
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}