.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
}

.footer__wrap {
    @extend %container;
    @extend %vertical-centered;
    align-items: baseline;
}